<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Crete_post</title>
</head>
<body>
{% extends 'bases.html' %}
{% block pages%}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Created</p>
                    <h1>Crete_post</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class='container'>
    
    <form id="Otstup" method="post" enctype="multipart/form-data">
 
        {% csrf_token %}
         {{ form.as_p }}
    
       
        <p><input type="submit" value="Submit POST"></p>
    
      </form>
    </div>
    <hr>
{% endblock%}
</body>
</html>