 
            
            
            

            
 {% extends 'basesmy.html' %} 
 {%block pages%}
     <div id="primary" class="content-area"><main id="main" class="site-main" role="main"> 

	<div class="page-title-area jarallax" data-jarallax="{&quot;speed&quot;: 0.2}" style="background-image:url( https://focus.ua/static/storage/thumbs/920x465/f/18/f190ae0f-56e85bf54c090f68269967acb4fc018f.jpg?v=2294_1);">
		<div class="container">
			<div class="page-title-content">
                <h2><font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Home</font></font></h2>
           <ul>
            <li><a href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">магазин</font></font></a></li>
            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">home</font></font></li>
            </ul>
              </div>                        		
		</div>
	</div>



    

   



 






 


 


 

    
 

<div class="pagination-area">
    <nav class="woocommerce-pagination">
        <span aria-current="page" class="page-numbers current"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span>  
 <a class="page-numbers" href="https://themes.envytheme.com/fodia/shop/page/2/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></a>
<a class="next page-numbers" href="https://themes.envytheme.com/fodia/shop/page/2/"><i class="fa fa-angle-double-right"></i></a>    </nav> 
 </div>      
 </div>  
         </div>
            </div>
        </div> 
    </main>
</div>




     
 




       

{% endblock%}
            
     





















 