<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
 
    <style>
 
     </style>
</head>
{% extends 'basesmy.html' %} 
{%block pages%}

<body>
    <div id='left'>
    <h1 id='size'>Регистрация</h1>
    {% if error %}
    <div id='size' style="color:red;">{{ error }}</div>
    {% endif %}

    <form classs='form-box'  method="post">
        {% csrf_token %}
        <p><input id='size' type="text" name="username" placeholder='username' required=''></p>
       <p><input  id='size' type="email" name="email" placeholder='Email'  required=''></p>
        <p><input id='size' type="password" name="password" placeholder='password'  required=''></p>
         <p><input id='size' type="password" name="password2" placeholder='confirm password'  required=''></p>

        <input id='size' type="submit" value="Регистрация">
    </form>
</div>



{% endblock%}
</body>
</html>