  <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Cart</title>
 
</head>
<body>
	{% extends 'bases.html' %}
{% block  pages%}
{% load static %}


	 
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	 
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
                               
                              {% for item in cart %}
                                {% with product=item.product %}
								<tr class="table-body-row">
									<td class="product-remove"><a href="{% url "cart_remove" product.id%}"> <i class="far fa-window-close"></i></a></td>
									<td class="product-image">     <a href="{{ product.get_absolute_url }}">
                                        <img src="
                                            {% if product.image %}
                                                {{ product.image.url }}
                                            {% else %}
                                            {% static 'assets/img/products/product-img-2.jpg' %}
                                            {% endif %}">
                                     </a></td>
									

                       <form action="{% url "cart_add" product.id %}" method="post">
		                    
					            
							 {% comment %} {{ cart_product_form }} {% endcomment %}
							 
							<td class="product-name">{{ product.names }}
								{{ item.update_quantity_form.quantity }}
								{{ item.update_quantity_form.update }}  	
								<input type="submit" class="fas fa-shopping-cart" value="update"></td>
								{% csrf_token %}
								
								
							       {% comment %} <td class="product-name">{{ i.name }}</td> {% endcomment %}
							
									<td class="product-price">${{ item.price }}</td>
								
									<td class="product-quantity">    {{ item.quantity }} </td>
									<td class="product-total">${{ item.total_price }}</td>
								
								
							 </tr>
                       </form>  
							 

 


 
                                {% endwith %}
								
                                {% endfor %}
			

							</tbody>
						</table>
					</div>
				</div>


				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								{% comment %} <tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>$500</td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>$45</td>
								</tr> {% endcomment %}
								<tr class="total-data">
									<td><strong> all Total: </strong></td>
									<td>${{ cart.get_total_price }}</td>
								</tr>
							</tbody>
						</table>

						<div class="cart-buttons">
							<a href="/carts/" class="boxed-btn">Update Cart</a>
							<a href="{% url "search-element" %}" class="boxed-btn black">Check Out</a>
						</div>
					</div>


					<div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form action="index.html">
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 


	{% endblock  %}

</body>
</html>
 